{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3 border">
                <h3>Bienvenido {{request.user.first_name}} {{request.user.last_name}} </h3> 
                <div class="row mt-4 mb-4">
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'users_main' %}" class="btn btn-danger form-control">Gestión Usuarios</a>               
                    </div>                   
                                                       
                </div>
            </div>
        </div>
    </main>
{% endblock %}
