
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <style>.errorlist{color:red;}

    </style>
    <main role="main">
        <div class="container col-12">
            <div class="col-12 border">
                <table id="service" class="table mt-2 table-hover table-sm table-bordered">      
                    <thead class="table-danger">
                        <tr>
                        <tr>
                            {% if profiles.group_id == 1 %}
                                <th colspan="5"><h3>Listado De Usuarios {{group.name}} Activos</h3></th>
                            {% endif %}
                            {% if profiles.group_id == 2 %}
                                <th colspan="4"><h3>Listado De Usuarios {{group.name}} Activos</h3></th>
                            {% endif %}
                            <th colspan="1">
                                <div class="row">
                                    <div class="col-12 col-sm-12">
                                        <a href="{% url 'list_main' group.id %}" class="btn btn-danger form-control">Volver</a>
                                   </div>
                                </div>
                            </th>
                        </tr>
                        <tr class="text-center">
                            <th width="300" scope="col">Nombre Usuario</th>
                            <th width="450" scope="col">Nombre Completo</th>
                            <th width="300" scope="col">Correo</th>
                            {% if profiles.group_id == 1 %}
                                <th width="250" scope="col">Funciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in user_list %}
                            <tr>
                                <th scope="row">{{s.user_name}}</th>
                                <th scope="row">{{s.name}}</th>
                                <th scope="row">{{s.mail}}</th>
                                {% if profiles.group_id == 1 %}
                                    <th scope="row">
                                        {% if s.id != request.user.id %}
                                            <a href="{% url 'edit_user' s.id %}">
                                                Edita Usuario
                                            </a>
                                            {% if s.id != request.user.id %}
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="{% url 'user_block' s.id  %}" data-toggle="modal" data-target="#userBlock" data-u_id="{{s.id}}" data-u_name="{{s.name}}"  data-page="{{page}}">
                                                    Bloquea Usuario
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </th>   
                                {% endif %}                            
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Paginación -->
                    {% if paginator.num_pages > 1 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if user_list.has_previous %}
                                    <li class="page-item ">
                                        <a class="page-link" href="?page={{ user_list.previous_page_number}}">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    <li class="page-item {% if user_list.number == i %}active{% endif %}">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                {% if user_list.has_next %}
                                    <li class="page-item ">
                                        <a class="page-link" href="?page={{ user_list.next_page_number }}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}  
                <!-- Paginación -->                    
            </div>
        </div>
    </main>
{% endblock %}
